/* importing poppins font from google font api */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.heading {
  width: 100px;
  /* padding: 50px; */
  /* padding-top: 20px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 50px; */
  /* padding: 20px 30px 40px 50px; */
  padding: 50px 100px;
  margin: auto;
  border: 5px solid red;
  font-size: 32px;
  font-weight: 900;
  background-color: #a6ff00;

  /* position: sticky;
  top: 0; */
  position: fixed;
  bottom: 0;
  right: 0;

  z-index: 100;
}

#plabon {
  /* width: fit-content; */
  /* named color */
  /* color: steelblue; */
  /* hex color */
  color: #7a21ff;
  /* rgb color */
  /* color: rgb(0, 255, 0); */
  /* rgba color */
  /* color: rgba(0, 255, 0, 0.1); */

  /* background color */
  background-color: #ee5959;
}

#main {
  width: 100%;
  /* height: 100vh; */
  /* background-image: url("https://images.unsplash.com/photo-1505820013142-f86a3439c5b2?w=1200&auto=format&fit=crop&q=90&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG5hdHVyZXxlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(
    90deg,
    #5b5230,
    #897e38,
    #b6af3f,
    #e1e344,
    #ddf343,
    #aedb40,
    #82c23e,
    #5aa83c
  );
}

.para1 {
  font-style: italic;
  font-weight: 500;
  color: #ff0000;
  text-align: justify;
  /* line-height: 80px; */
  /* text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-style: dotted;
  text-decoration-thickness: 10px; */
  text-transform: capitalize;
  /* letter-spacing: 10px; */
}

/* Positions */
.parent {
  width: 500px;
  height: 500px;
  background-color: #00a123;
  margin: 100px auto;
  font-size: 28px;
  font-weight: 700;

  position: relative;
}
.child {
  width: 150px;
  height: 150px;
  background-color: #b60000;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  padding: 10px;

  /* position: relative;
  left: 50px;
  bottom: 50px; */
  position: absolute;
  top: 20px;
  left: 50px;
}

.firstH1 {
  display: inline;
}
.blockElement {
  display: block;
}

.box {
  width: 100px;
  height: 100px;
  background-color: #00a123;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 10px;

  /* display inline  */
  /* display: inline-block; */
}
/* .box-bigger {
  width: 200px;
  height: 200px;
} */

.parent-box {
  display: flex;
}
